/* selector { property: value; }*/
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

h1 {
    color: blueviolet;
    background-color: aquamarine;
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
}
h2{
    color: rgb(226, 53, 53);
}
h3{
    color: #3cb371;
}
html{
    font-size: 16px;
}
p{
    font-size: 2rem;
    line-height: 40px;
    letter-spacing: 20px;
    word-spacing: 20px;
    cursor: help;
    font-weight: 400;
    font-family: "Lemon", serif;
}
section{
    width: 500px;
    height: 500px;
    background-color: chocolate;
}
div{
    width: 50%;
    height: 50%;
    background-color: #3cb371;
}
